# Composer Related
composer.lock
/vendor

# Frontend Assets
/node_modules
/public/hot
/public/storage
/public/build

package-lock.json

# Logs
npm-debug.log
yarn-error.log

# Caches
.phpunit.cache
.phpunit.result.cache

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Editors
/.idea
/.fleet
/.vscode

# Misc
phpunit.xml
phpstan.neon
testbench.yaml
/coverage
.DS_Store
/build/phpstan/cache/PHPStan/0f/46/0f46398b727268c5f01ef3abd368445b12b6d043.php

build/phpstan/cache/nette.configurator/container.journal

build/phpstan/cache/nette.configurator/

build/phpstan/cache/PHPStan/09/9b/

build/phpstan/
/build/report.junit.xml
/TODO.md
