name: Release to Discord

on:
  release:
    types: [ published ]

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@v1.19.0
        with:
          webhook_url: ${{ secrets.DISCORD }}
          color: "2105893"
          username: "Laravel Spectra"
          avatar_url: "https://avatars.githubusercontent.com/u/116525492?s=96&v=4"
          content: "||@everyone||"
          footer_title: "Laravel Spectra"
          footer_icon_url: "https://avatars.githubusercontent.com/u/116525492?s=96&v=4"
          footer_timestamp: true
